.search-main {
    margin-top: 1rem;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-left, .search-right {
    height: inherit;
    width: 10%;
}

.search-content {
    height: inherit;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.sr-logo, .sr-input, .sr-panier {
    height: inherit;
}

.sr-logo img {
    width: 20rem;
    height: 80%;
    margin-bottom: 1rem;
}

.sr-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sr-input input {
    outline: none;
    height: 75%;
    width: 25rem;
}

.sr-panier {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sr-panier-content {
    width: 15rem;
    height: 80%;
    border: 1px solid #736b6b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
}

.sr-panier-content svg {
    width: 5rem;
    height: 2rem;
}

.sr-panier-content span {
    font-size: 1.2rem;
}

